<%- include('../partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">LIST OF SCHOOLS IN ONTARIO</h1>
    <p id="loginrequired" class="lead">Please check the list below for your school before adding another one.</p>
    
    <hr class="my-4">
    <p></p>
    <p id="allhomepagebtns"class="lead">
      <a id="addbtn" class="btn btn-dark btn-lg" href="/schools/new" role="button">Add a School</a>
      <p id="loginrequired"> LOGIN IS REQUIRED TO ADD</p>
    </p>
  </div>

  <div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead"></p>
    <hr class="my-4">
    <section>
        <% school.forEach(function(s) { %>
      <div id="school">
      <div id="schoolname">Name:<span id="breakinname"></span><%= s.name %> </div>
      <div id="schoollocation">City: <%= s.city %></div>
      <div id="schoolbtns"> 
        <a id='addreviewbtn' class= 'btn btn-info btn-sm' href="/schools/<%= s._id%>">REVIEWS</a>
        <form action="/schools/<%= s.id %>?_method=DELETE" method="POST">
            <button id="schooldeletebtn" type="submit" class="btn btn-danger btn-sm">DELETE</button> 
        </form>
        <span id="breakinname"></span><span id="breakinname"></span><span id="breakinname"></span><span id="breakinname"></span>
        <a id='gotoprofessors' class= 'btn btn-secondary btn-sm' href="/professors">PROFESSORS</a>
        <span id="breakinname"></span>
        <a id='gotoprograms' class= 'btn btn-primary btn-sm' href="/programs" disabled>PROGRAMS</a>
        
    </div>
    </div>
      <% }); %>
    </section>
    </div>

    
    
<%- include('../partials/footer') %>
