<%- include('../partials/header') %>
<div class="jumbotron">
    <h1 class="display-4">LIST OF PROFESSORS IN ONTARIO</h1>
    <p class="lead">If you do not see your professor below, feel free to add a new them by clicking the button below.</p>
    <hr class="my-4">
    <p></p>
    <p id="allhomepagebtns"class="lead">
      <a id="addbtn" class="btn btn-dark btn-lg" href="professors/new" role="button">ADD A PROF</a>
    </p>
  </div>
  <div class="jumbotron">
    <h1 class="display-4"></h1>
    <p class="lead"></p>
    <hr class="my-4">
    
    <section>
      <% professor.forEach(function(p) { %>
    <div id="prof">
    <div id="profmain"><strong>Name:<span id="breakinname"></span><%= p.name %> </strong></div>
    <div id="profmain"><strong>School:</strong><span id="breakinname"></span><%= p.school %> </div>
    <div id="profsub"><strong>Course:</strong><span id="breakinname"></span> <%= p.course %></div>
    <div id="profsub"><strong>Marking Difficulty: </strong><span id="breakinname"></span><%= p.markingDifficulty %></div>
    <div id="profsub"><strong>Retake:</strong><span id="breakinname"></span> <%= p.retake %></div>
    <div id="profsub"><strong> Require Participation:</strong><span id="breakinname"></span><%= p.participation %> </div>
    <div><a  id="deleteprofbtn" class="btn btn-danger btn-sm" href="/professors/<%= p._id%>">DELETE</a></div>
  </div>
    <% }); %>
  </section>
  </div>

  
<%- include('../partials/footer') %>
